@{
    Layout = "~/Views/Shared/template/_Layout.cshtml";
}
@section content {

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title" id="titleView"><i class="fa fa-pencil" aria-hidden="true" style="font-size:16px;"><strong style="font-family:segoe ui;"> Guard Maintenance</strong></i></h3>
        <a id="cmdAddNew" class="btn btn-medium btn-green btn-custom" style="float:right; top:-8px; position:relative; color:white;"><i class="fa fa-plus" aria-hidden="true"></i> Create New</a>
    </div>

    <div class="panel-body">

        <br />

        <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#tab1" role="tab" data-toggle="tab" id="activeTab">Active</a></li>
                <li role="presentation"><a href="#tab2" role="tab" data-toggle="tab" id="inactiveTab">Inactive</a></li>

            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="tab1">
                    <div class="row">
                        <div class="col-md-12" id="mainGridContainer">
                            <br />
                            <div class="jqxgrid jqxgrid-autoheight jqxgrid-enablehover jqxgrid-enableellipsis jqxgrid-pageable jqxgrid-virtualmode jqxgrid-pagesizeoptions jqxgrid-showstatusbar jqxgrid-toolbar jqxgrid-columnsresize"
                                 id="GuardMaintenanceGrid"
                                 grid-width="100"
                                 data-url="/GuardMaintenance/GetGuardData?IsActive=1"
                                 data-method="post"
                                 grid-selection-mode="singlerow"
                                 grid-pagesizeoptions="10,20,50,100"
                                 data-action-buttons="Edit,Inactive"
                                 grid-hide-columns="0,1">
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="tab2">
                    <div class="row">
                        <div class="col-md-12" id="mainGridContainer">
                            <br />
                            <div class="jqxgrid jqxgrid-autoheight jqxgrid-enablehover jqxgrid-enableellipsis jqxgrid-pageable jqxgrid-virtualmode jqxgrid-pagesizeoptions jqxgrid-showstatusbar jqxgrid-toolbar jqxgrid-columnsresize"
                                 id="GuardMaintenanceGridInactive"
                                 grid-width="100"
                                 data-url="/GuardMaintenance/GetGuardData?IsActive=0"
                                 data-method="post"
                                 grid-selection-mode="singlerow"
                                 grid-pagesizeoptions="10,20,50,100"
                                 data-action-buttons="Activate"
                                 grid-hide-columns="0,1">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>




}

@section JavaScript {
<script src="~/Scripts/pages/GuardMaintenance.js"></script>
}

