@{
    Layout = "~/Views/Shared/template/_Layout.cshtml";
}
@section content {
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title" id="titleView"><i class="fa fa-pencil" aria-hidden="true" style="font-size:16px;"><strong style="font-family:segoe ui;"> Override</strong></i></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12" id="mainGridContainer">
                        <br />

                        @* @version: 1.0, author: rherejias, description: list of gatepass for approval to oaverride *@
                        <div class="jqxgrid jqxgrid-autoheight jqxgrid-enablehover jqxgrid-enableellipsis jqxgrid-pageable jqxgrid-virtualmode jqxgrid-pagesizeoptions jqxgrid-showstatusbar jqxgrid-toolbar jqxgrid-columnsresize"
                             id="OverrideGrid"
                             grid-width="100"
                             data-url="/Override/GetOverrideData"
                             data-method="post"
                             grid-selection-mode="singlerow"
                             grid-pagesizeoptions="5,10,20,50,100"
                             grid-hide-columns="0,1,3,5,6,7,9,10,11,12,13,14"
                             data-action-buttons="Override"
                             data-statusbar-buttons="Reject">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}

@section JavaScript {
<script src="~/Scripts/pages/Override.js"></script>
}
