<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!-- default mssql connection string -->
    <add name="local_gatepass" connectionString="Data Source=AMPIAPPDEV1\DEV1;Initial Catalog=GatePass;MultipleActiveResultSets=true;user id=sa; password=DEV!Admin" providerName="System.Data.SqlClient" />
    <add name="dev_gatepass" connectionString="Data Source=AMPIAPPDEV1\DEV1;Initial Catalog=GatePass;MultipleActiveResultSets=true;user id=sa; password=DEV!Admin" providerName="System.Data.SqlClient" />
    <add name="prod_gatepass" connectionString="Data Source=ampisql01;Initial Catalog=GatePass;MultipleActiveResultSets=true;user id=sa; password=DEV!Admin" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <!-- file directories -->
    <add key="local_upload_returnAttachment" value="\\ampifs03\IT\WebPost\Gatapass\FileUploads\returnAttachment\files\"/>
    <add key="dev_upload_returnAttachment" value="\\ampifs03\IT\WebPost\Gatapass\FileUploads\returnAttachment\files\"/>
    <add key="prod_upload_returnAttachment" value="\\ampifs03\IT\WebPost\Gatapass\FileUploads\returnAttachment\files\"/>
    <!--<add key="prod_upload_returnAttachment" value="FileUploads/returnAttachment/files"/>-->
    
    <add key="local_upload_target" value="\\ampifs03\IT\WebPost\Gatapass\FileUploads\excel\targets\"/>
    <add key="dev_upload_target" value="\\ampifs03\IT\WebPost\Gatapass\FileUploads\excel\targets\"/>
    <add key="prod_upload_target" value="\\ampifs03\IT\WebPost\Gatapass\FileUploads\excel\targets\"/>
    <!--<add key="prod_upload_target" value="FileUploads/excel/targets/"/>-->

    <add key="local_upload_images" value="\\ampifs03\IT\WebPost\Gatapass\FileUploads\images\items\"/>
    <add key="dev_upload_images" value="\\ampifs03\IT\WebPost\Gatapass\FileUploads\images\items\"/>
    <add key="prod_upload_images" value="\\ampifs03\IT\WebPost\Gatapass\FileUploads\images\items\"/>
    <!--<add key="prod_upload_images" value="FileUploads/images/items/"/>-->

    <add key="local_upload_attachment" value="\\ampifs03\IT\WebPost\Gatapass\FileUploads\attachment\files\"/>
    <add key="dev_upload_attachment"  value="\\ampifs03\IT\WebPost\Gatapass\FileUploads\attachment\files\"/>
    <add key="prod_upload_attachment"  value="\\ampifs03\IT\WebPost\Gatapass\FileUploads\attachment\files\"/>
    <!--<add key="prod_upload_attachment"  value="FileUploads/attachment/files/"/>-->
  
    <add key="dev_email" value="rherejias@ALLEGROMICRO.com ,avillena@allegromicro.com"/>
    <add key="ampiguard_email" value="ampiguard@allegromicro.com"/>
    <add key="ampiguard_emailpassword" value="@welcome1"/>
    
    <!--link attach to the email-->
    <add key="link_into_email" value="http://ampiappdev1:8386/ForApproval/ForApprovalView?headercode="/>
    <add key="gatepass_email_noreply" value="ampinoreply@allegromicro.com"/>
    <add key="blind_carbon_copy_email" value="avillena@allegromicro.com, rherejias@ALLEGROMICRO.com"/>

    <!--approval type values from web config to layout to javascripts -->
    <add key="departmentApprover" value="20170100001" />
    <add key="itApprover" value="20170100002" />
    <add key="purchasingApprover" value="20170100003" />
    <add key="accountingApprover" value="20170100004" />
    <add key="secondaryITApprover" value="20170100005" />
    <add key="secondaryPurchasingApprover" value="20170100006" />
    <add key="secondaryAccountingApprover" value="20170100007" />
    
    <!--Grid path for image-->
    <add key="gridPath"  value="http://ampifs03/IT/WebPost/Gatapass/FileUploads/images/items/"/>
    
    <!--download paths-->
    <add key="attachment" value="http://ampifs03/IT/WebPost/Gatapass/FileUploads/attachment/files/"/>
    <add key="image" value="http://ampifs03/IT/WebPost/Gatapass/FileUploads/images/items/"/>
    <add key="excel" value="http://ampifs03/IT/WebPost/Gatapass/FileUploads/excel/targets/"/>
    <add key="return" value="http://ampifs03/IT/WebPost/Gatapass/FileUploads/returnAttachment/files/"/>
    
    <!--File size-->
    <add key="fileSize" value="200000000" />
    
    <!-- Guard Department-->
    <add key="GuardDept" value="Guard"/>
    
    <!--Guard username-->
    <add key="GuardUsername" value="ampiguard"/>
    <add key="GuardDept" value="Guard" />
    
    <!--File Extensions-->
    <add key="ext" value="(.*?)\.(docx|doc|txt|pdf|ppt|pptx|xlsx|xls|msg|png|jpg|jpeg)$"/>
    <add key="extImg" value="(.*?)\.(png|jpg|jpeg)$"/>
    <add key="extMsg" value=" docx, pdf, pptx, xlsx, txt, msg, png, jpg"/>
    <add key="extMsgImg" value=" png, jpg, jpeg"/>

    <!--determine environment-->
    <add key="env" value="local" />
    
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!--local urls-->
    <add key="local_base_url" value="http://localhost:10160" />

    <!--<add key="local_api_base_url" value="http://ampiappdev1:8383/api/v1/" />-->
     <!--<add key="local_api_base_url" value="http://ampiappdev1:8888/api/v1/" />-->
    <add key="local_api_base_url" value="http://ampiweb01:8202/api/v1/" />
    <!--dev urls-->
    <add key="dev_base_url" value="http://ampiappdev1:8386" />
    <add key="dev_api_base_url" value="http://ampiappdev1:8110/api/v1/" />

    <!--prod urls-->
    <add key="prod_base_url" value="" />
    <add key="prod_api_base_url" value="http://ampiappdev1:8110/api/v1/" />
    
    <!--princexml paths-->
    <add key="local_system_generated_files" value="SystemGeneratedFiles" />
    <add key="dev_system_generated_files" value="D:\\FTP\\Gpass\\SystemGeneratedFiles" />
    
    <add key="local_princexml_path" value="C:\\Program Files (x86)\\Prince\\engine\\bin\\" />
    <add key="dev_princexml_path" value="C:\\Program Files (x86)\\Prince\\engine\\bin\\" />
    
    <add key="prod_princexml_path" value="" />
    
  </appSettings>
  
  <system.web>
    <httpRuntime maxRequestLength="1024000" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880"/> <!--timeout="2880"--> 
    </authentication>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
      <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="1073741824" />
            </requestFiltering>
      </security>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
<system.serviceModel>
        <bindings>
                <basicHttpBinding>
                        <binding name="soap" />
                </basicHttpBinding>
        </bindings>
        <client>
                <endpoint address="http://ampiweb01:8201/EmailNotificationService.svc/soap"
                        binding="basicHttpBinding" bindingConfiguration="soap"
                        contract="EmailServiceReference.IService" name="soap" />
        </client>
    </system.serviceModel>
</configuration>